.addnews {
    margin-left: 20px;
}
    .addnews label {
        margin-left: 40px;
        font-size: large;
    }

input {
    display: block;
    padding: 1em;
    border-radius: .4em;
    margin-bottom: .5em;
    width: 90%;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 1em;
    background-color: #F0F2F5;
    margin-left: 114px;
}

    input[type="submit"] {
        background-color: grey;
        color: #ffffff;
        font-size: 1.25em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-left: 17px;
        padding: .7em 0;
        display: block;
        width: 90%;
        border: none;
    }

        input[type="submit"]:hover {
            background-color: #474343;
        }